#getstartedbutton {
  background-color: #143db8;
}

#getstartedbody {
  background-color: #b2e1bc;
  font-family: "Vinila Regular";
}

#getstartedmodala {
  background-color: #d8ef55;
}

#getstartedmodalb {
  background-color: black;
}

#modalbutton {
  background-color: #008060;
}

#logintext {
  color: #008060;
}
