#headerbackground {
  background-color: #b2e1bc;
  font-family: "Vinila Regular";
}

#signupbutton {
  background-color: #143db8;
}

#modalbutton {
  background-color: #008060;
}

#logintext {
  color: #008060;
}
