#products {
  background-color: #6f97ff;
}

#blogarticles {
  background-color: #c6a8f6;
}

#favvideos {
  background-color: #f3ff6f;
}

#digitalwallet {
  background-color: #ff6fbd;
}

#merch {
  background-color: #6f75ff;
}

#podcast {
  background-color: #ffc56f;
}

#nft {
  background-color: #6f97ff;
}

#socials {
  background-color: #ffc56f;
}
